[2015-04-03 12:29] tunnckoCore opened #1 "use `undertaker` insteadof `orchestrator`"
- it have better handling
- better structured
- give a good things that orchestrator dont have

and btw, the project looks good :)

[2015-04-03 21:51] jonschlinkert commented on #1
yeah we just talked about that. there were thing about undertaker I didn't like, for one it uses common method like `.get()` and `.set()` if I recall, which is going to conflict with any other application that has those methods.

I'l have to take another look at it.

thanks!

[2015-04-07 11:51] jonschlinkert opened #2 "cli: liftoff"
Implement liftoff for cli once the API is mostly complete

[2015-06-12 16:58] doowb opened #3 "generate ideas"
I was going to suggest adding some of these to `verb`, but I think they belong in `generate` (as generate plugins)

 - [ ] generate-browserify: adds `npm run browserify` to `package.json` with default (or custom) browserify command
 - [ ] generate-coveralls: adds `npm run coveralls` to `package.json` with default (or custom) coveralls command
 - [ ] generate-mocha: adds `npm test` to `package.json

[2015-06-12 17:06] jonschlinkert commented on #3
:+1:

[2016-01-04 08:56] jonschlinkert commented on #1
we're using composer now, which uses bach

[2016-01-04 08:56] #1 closed

[2016-01-04 08:59] jonschlinkert opened #4 "consider changing `each` to reduce"
we maybe should consider changing to `reduce` so we can return streams, currently the flow-control methods (each and eachSeries) don't.

[2016-03-04 23:37] #4 closed

[2016-03-04 23:38] #2 closed

[2016-03-11 05:43] jonschlinkert opened #5 "change generator signature to match plugin signature?"
with minor changes, I think we can make generators and plugins interchangeable. In effect, this means that generators are nothing more than plugins that are registered by name (and can be invoked by name).

We would probably want to updated `base-plugins` to pass the `base` instance as the second argument to plugins. example:

[code]

thoughts? cc @doowb

[2016-03-11 15:10] doowb commented on #5
:+1:

- Would we use `.use` inside something like `.register` or `.generator`?
  I think this makes sense because then we can register the name, lazyily invoke it, and look it up later.

- Do we even need to differentiate between it being a plugin and a generator?
  I don't think we do necessarily. Generators will be registered as above, but then when calling `.use` on them, they can return a func

[2016-03-11 15:20] jonschlinkert commented on #5
yeah, very similar to what I had in mind. I don't see a difference either

I was thinking we could create customized versions of `.use` and `.run`. but instead of `.run` we could use `.invoke` or something. but we might not need to.

[2016-03-12 01:18] tunnckoCore commented on #5
Same here :+1:
Use the `.use` inside `.register`, have `.invoke` and remove `.extendWith`.

[2016-03-12 01:28] jonschlinkert commented on #5
@doowb and I spent hours going over this today. to this point, most of the base-generators/env/resolving logic was just created to help us figure out what we wanted to accomplish. I think we know now, so all of those things will be refactored fairly quickly.

thanks for the feedback

[2016-04-08 03:22] jonschlinkert opened #6 "idea: automatically detect templates to use based on project name"
I think for certain projects with names like `gulp-*`, `grunt-*`, `assemble-*`, etc.  it would be fun to have a util that detects which templates to render based on the name. or at least give the user the option to "auto-select" templates or to override

[2016-05-07 00:39] jonschlinkert commented on #2
done

[2016-05-07 00:48] jonschlinkert opened #8 "gif: ask helper + dest"
![ask-helper-dest](https://cloud.githubusercontent.com/assets/383994/15089140/3cb2e122-13cb-11e6-9f3f-2c2af3dccdb8.gif)

[2016-05-07 00:49] jonschlinkert opened #9 "gif: ask helper + conflict detection"
![ask-helper-conflicts](https://cloud.githubusercontent.com/assets/383994/15089173/f8217112-13cb-11e6-9b8a-f29daa413b45.gif)

[2016-05-12 13:14] jonschlinkert opened #10 "screencap: ask helper"
**prompt example: no question defined**

<img width="528" alt="screen shot 2016-05-05 at 10 55 50 pm" src="https://cloud.githubusercontent.com/assets/383994/15063030/902c0624-1314-11e6-955e-5f79333e0362.png">

**prompt example: custom question defined**

<img width="557" alt="screen shot 2016-05-05 at 10 51 26 pm" src="https://cloud.githubusercontent.com/assets/383994/15062973/f8bc09ba-1313-11e6-9

[2016-05-18 00:49] #5 closed

[2016-06-13 13:28] #8 closed

[2016-06-13 13:28] #9 closed

[2016-06-13 13:28] #10 closed

[2016-06-23 17:39] stefanwalther opened #11 "Unexpected token ..."
Whatever I am doing, I always get the following error message (using node 4.4.5):

[code]

I installed `generate` globally, did the same for `generate-node`, then did a `$ gen node:mit` ...

Any ideas, am I missing something?

Regards
Stefan

[2016-06-23 17:40] jonschlinkert commented on #11
you need to update node.js to a more recent version. 5 or greater. It's surprising you're only seeing this error now, since a lot of libs in the dependency tree use es2015 syntax

[2016-06-23 17:41] stefanwalther commented on #11
OK; will give it a try ... then you should update the package.json, since it is saying:

[code]

[2016-06-23 17:44] jonschlinkert commented on #11
k, thx

[2016-06-23 17:45] jonschlinkert opened #12 "update package.json engine to >= 5.0"

[2016-06-23 17:45] jonschlinkert commented on #11
closing, created https://github.com/generate/generate/issues/12

[2016-06-23 17:45] #11 closed

[2016-07-01 07:58] jonschlinkert opened #14 "add `generate` questions to stackoverflow"
We should start adding simple `generate` questions to [stackoverflow](http://stackoverflow.com/help/on-topic) that we can answer, to provide users with a way to find searchable help and feedback.

SO actively encourages simple, high quality code questions like this. It would be great if someone could just start asking basic questions for @doowb and I to answer.  feel free to link them here if anyo

[2016-07-05 10:20] jonschlinkert opened #15 "add sublime text snippets for common generate code"

[2016-07-08 23:23] tunnckoCore opened #16 "built-in "generators" / commands not work (as expected?)"
[code]
_(and notice the "Update" instead of "Generate", but nevermind haha - THIS IS THE BIGGEST BUG MAAAN, jk)_

Before few days when i was reviewing the things again there were (if i remember correctly) separate files for the init, help, new and etc, and they were (in `lib/commands/` folder) called "built-in generators" and they looked like any generator which make sense. _(btw, just noticing th

[2016-07-09 02:34] jonschlinkert commented on #16
completely forgot to wire that up again, thanks for the reminder.

yeah, right now I'm trying to externalize the built-in stuff to external generators, so `gen new` will be powered by a `generate-new` generator. But I forgot to publish it.

I'm also reworking some of the commands and the help menu to be simpler. thanks for the issue, helps me clarify what needs to be prioritized

thanks!

[2016-07-09 02:58] jonschlinkert commented on #16
btw, [these commands](https://github.com/generate/generate/blob/master/lib/commands.js) are where I add new commands while I'm getting one of the apps working. If the command makes sense I will move it into `base-cli-process` for all of the apps

[2016-07-09 03:12] #16 closed

[2016-07-09 03:23] jonschlinkert opened #17 "customizations"
We are planning on implementing some features to give implementors and end-users more control over the experience. This issue will be used for tracking.

- [ ] `~/generate`: by default, user customizations, overrides, config, templates, etc will be in a `generate` folder in user home.
- [ ] make the folder path customizable
- [ ] generators will be in sub-directories in the `~/generate` folder
- [

[2016-07-09 03:50] tunnckoCore commented on #17
configurate generate with generate, that sounds like a freakin cool thing lol

[2016-07-09 03:56] jonschlinkert commented on #17
lol yeah it's getting more fun now that we're finally actually "using" the stuff we've been creating.

[2016-07-09 06:48] tunnckoCore opened #18 "cli feature idea: list generator tasks / help and list available generators"
Would be good to be able to list generator tasks - not all, but maybe that are not silenced? only the main, without the aliases. Also generator help task if exist.

Something like that

[code]

Hm. So, maybe would make more sense if I rephrase it to per generator options.

And just popup one more thing in my mind - list available generators (globally/locally installed).

Maybe something like

[cod

[2016-07-09 06:55] jonschlinkert opened #19 "cli: list generators"
see https://github.com/generate/generate/issues/18#issue-164653643

[2016-07-09 07:07] #19 closed

[2016-07-09 07:07] jonschlinkert commented on #19
![image](https://cloud.githubusercontent.com/assets/383994/16706644/10c29f56-4582-11e6-9405-5b8ee4bbcc16.png)

[2016-07-09 07:08] tunnckoCore commented on #3
generate-banner: generating header banners with copyright and etc

[2016-07-09 07:11] tunnckoCore commented on #19
Starting to think that it's not a good choice `gen` to have commands - or they should not be too much. How `gen list` will differs from `generate-list` on day? Also the `generate-init` is cool name, but it will be forbidden because the command init. Feel the conflicts?

[2016-07-09 07:13] jonschlinkert commented on #19
right, they need to be externalized into generators. I mentioned that earlier.

Eventually, _we won't have any built in tasks or generators_.

[2016-07-09 07:15] jonschlinkert commented on #19
oh, however...

Once `generate-list` is published, (@doowb might have that), if you installed it globally it would override the built-in `list` command

[2016-07-09 07:16] jonschlinkert commented on #18
I just realized the [docs on this repo](https://github.com/node-base/task-prompts/blob/master/index.js#L58) suck, but it has a method that prompts for tasks

[2016-07-09 07:18] jonschlinkert commented on #3
I have that somewhere, and `updater-banner`.  (I know, `updater-*` sounds weird, but there were too many `update-*` libs already published)

[2016-07-09 07:20] jonschlinkert commented on #3
want to create an issue/request for the ones you need? I'll let you know which ones we have and I can prioritize pushing them up, or anyone is free and encouraged to create generators

[2016-07-09 07:33] tunnckoCore commented on #3
yea, okey, i'll keep that in mind

not so much. i mostly will just override the templates of already existing, i'm playing now.

[2016-07-09 07:36] tunnckoCore opened #20 "generator: generate-changelog"
Which to follow keep-a-changelog standard would be useful too.

[2016-07-09 08:05] jonschlinkert commented on #20
for reference: https://github.com/olivierlacan/keep-a-changelog. that's pretty awesome, I haven't seen it before.

I can update [helper-changelog](https://github.com/helpers/helper-changelog) to use the `keep-a-changelog` conventions. It's pretty close but I could add the tags for `removed`, `added` etc

[2016-07-09 08:09] tunnckoCore commented on #20
Yea, i'm trying to follow it from 1-2+ years, but don't have so big projects or libs to have need more than the commit msg (with one two words more or some other bullet), it's enough for now, for me.

[2016-07-09 08:11] tunnckoCore commented on #19
make sense, but then how user will access the real `list` command that list the generators ;d

[2016-07-09 09:00] jonschlinkert commented on #19
like this `gen defaults:list` :)

[2016-07-09 09:01] jonschlinkert commented on #19
keep in mind that will only happen when you intentionally override the defaults...

[2016-07-09 09:04] jonschlinkert commented on #19
oh, and if you don't like doing `$ gen defaults:list`, then do this:

[code]

Where `foo` is whatever name you want to save the command as. Then run `$ gen foo`

[2016-07-09 09:06] jonschlinkert commented on #20
yeah I'm the same way. I need to get better at changelogs thought.

[2016-07-09 13:11] tunnckoCore opened #21 "question: Why is needed that templates renaming? And second..."
Talking about [docs/recipe/renaming-templates.md (and renaming-files.md)](https://github.com/generate/generate/blob/master/docs/recipe/renaming-templates.md) (the _dotfile, and $package.json thingy)? Can't they be just as is and generate to just copy them - renaming only if needed (through api/front-matter).

And second. Is it normal to want `index.js/generator.js` when overriding templates using

[2016-07-09 15:22] jonschlinkert commented on #21
it will use a template in the root `~/templates` if the file isn't defined in `~/templates/generate-*/templates` https://github.com/generate/generate/issues/17#issue-164647022. That's not implemented yet (would be good to keep that discussion over on that issue)

No, because npm and many libraries that recurse up or down in projects will think that `templates/package.json` is a real file, or that

[2016-07-09 15:38] jonschlinkert opened #22 "CLI: task and generator events are not being logged"
this has been fixed locally, creating this issue for tracking

[2016-07-10 07:30] tunnckoCore commented on #21
Hm. Yea, make sense, seems like I just didn't think it enough.

[2016-07-10 07:30] #21 closed

[2016-07-12 10:01] pointnet opened #23 "Windows!"
Hello guys,

I can't use generate on windows 8, only `version` work, am I missing something ?

[code]

[code]

Versions:
[code]

[2016-07-12 18:04] jonschlinkert commented on #23
I'll look into it today, I have a windows box I usually test things on. thanks for reporting

[2016-07-12 18:13] jonschlinkert commented on #23
Actually I just noticed in the first example you're doing `generate cwd`, there is no `cwd` command. Same with `init`.

Try doing:

[code]

Then run

[code]

[2016-07-12 18:41] pointnet commented on #23
it's in the --help
also https://github.com/generate/generate/blob/bff1efc02efe8b5f7f1d2f83407d4a3ba8937f15/docs/installing-the-cli.md#L26
and https://github.com/generate/generate/blob/bff1efc02efe8b5f7f1d2f83407d4a3ba8937f15/support/docs/installing-the-cli.md#L30

I'll try the gen example and keep you posted.

[2016-07-12 18:51] pointnet commented on #23
Installing `generate-example` as global works, I can use it but the behavior seems strange, it does not generate the example.txt file at the root folder, is that the behavior expected ?

[code]

[2016-07-12 19:05] jonschlinkert commented on #23
great thanks. Note that all of those flags are preceded by `--`. Only generator names or tasks can be used as commands (without `--`).

I'm reviewing the docs now to fix mistakes and find potentially confusing language. This is very helpful, thank you.

Hmm, no. It should generate a `example.txt` file at the root. I'll look at it now.

[2016-07-12 19:06] jonschlinkert commented on #22
should be fixed

[2016-07-12 19:06] #22 closed

[2016-07-12 19:22] pointnet commented on #23
here's the list =>

[code]

[2016-07-12 19:26] pointnet commented on #23
Another thing I cannot do on windows but I'm not sure this is the right behavior.
Let's say I install globaly `generate` and I install `generate-example` as a dev dependencie.
Then I cannot run `gen example` which seems weird to me or does generate needs all his generators to be globals too ?

[2016-07-12 19:35] pointnet commented on #23
Tests are also crashing on Windows, almost due to paths.
IE:
[code]

[2016-07-12 21:01] jonschlinkert commented on #23
Yes. However, you can run "local" generators the way you want by adding a `generator.js` file in the project with the "sub-generators" you want to run.

Example:

[code]

I'm looking into the tests. I ran the tests on windows recently and all passed. I'm not sure what's changed since then

[2016-07-12 21:04] jonschlinkert commented on #23
I'm updating everything on windows now to re-run the tests. I'll report back

[2016-07-12 21:52] jonschlinkert commented on #23
I found the bug. working on a fix now

[2016-07-12 22:15] jonschlinkert commented on #23
Ok, I pushed up a fix. It was something silly, basically the backslashes in cwd were treated as escapes. There are only a few built in commands that are "pre-processed", `cwd` is one of them, so I figured it was something to do with that.

To ensure the necessary files are updated, you should probably do:

[code]

[2016-07-13 00:59] jonschlinkert opened #24 "dependency tree"
to help users with debugging, let's create a visual dependency tree with "major" dependencies, with comments about what each one does. Not sure how to approach this yet, but i think it would help

[2016-07-13 04:27] tunnckoCore commented on #24
Don't think so.. For that is the stacktraces? It is something usual issues to accept and use these stacktraces.

Or okey, think it. if we create it that way, it won't help to some newcomers or whoever, they must know the logic and cycles behind, core api and etc. These one-lines comments in form of dependency tree, won't help. It is easier for them to just paste the stacktraces which in turn are m

[2016-07-13 04:34] jonschlinkert commented on #24
Maybe you misunderstand (or I do). I want to add something that looks like this to the docs:

[code]

[2016-07-13 04:35] jonschlinkert commented on #24
btw, it's not about stack traces, it's also about finding the documentation you need or even where to start

[2016-07-13 04:38] tunnckoCore commented on #24
Oh yea yea. Don't know why I was thinking for output/commands/options, lol :D
So yea, it would be in some help. :)

[2016-07-13 05:01] jonschlinkert commented on #24
lol np.  fwiw I already started working on something to do the tree part if you want to [play around with it](https://github.com/generate/generate/blob/master/lib/tree.js). It's not wired up anywhere, so you'd need to do `node lib/tree` from the root of generate.

[2016-07-13 06:11] pointnet commented on #23
Works like a charm!

[2016-07-13 06:11] #23 closed

[2016-07-13 06:51] jonschlinkert commented on #23
great! glad to hear it, thanks for creating the issue, and for working through it with me

[2016-07-13 16:03] pointnet commented on #23
It's not that easy to start with your ecosystem when looking for plugins as the doc say that I can also use assemble plugins, as I didn't found a way to find all of them in one place, I made a quick react app plugged onto npmsearch to help find them all.

Maybe this can help someone else or maybe I missed a website somewhere to find them all easily ?

https://pointnet.github.io/react-generate-sear

[2016-07-13 16:25] jonschlinkert commented on #23
Agreed! your search page is awesome!

fwiw we're entirely focused on getting documentation up at the moment - which includes the actual content and websites. that's quite literally all we're working on - we know this is a problem. most of the commit activity you see is related to bugs that crop up, or things we notice while we're working on docs.

@doowb and I would love to build on what you creat

[2016-07-13 16:33] pointnet commented on #23
Here's the list I'm using to query npmsearch keywords, please tell me if I'm missing somes:

[code]

I'll work on tools based on `generate` for the react community and it will be a pleasure to help you guys on that search part, I'll publish my source code later on when `verb` and other stuff will be in it ;-).

I'm also thinking of generating react apps via `verb`, do you guys think this could mak

[2016-07-13 21:05] jonschlinkert commented on #23
that looks comprehensive, thanks!

I'm having connection issues but I wanted to comment quickly before I get disconnected again. I'll comment more after I get my connection fixed, maybe @doowb has some thoughts in the meantime. thanks!

[2016-07-13 21:15] doowb commented on #23
You can add [update-updater](https://www.npmjs.com/search?q=update-updater).

Since some of the plugins returned for `assemble-plugin` are for `grunt-assemble`, we should get those cleaned up by using a new keyword. Once we do that, we can add the new keyword to the list.

[2016-07-13 21:18] jonschlinkert commented on #23
good point. maybe we should do a batch update of the curated plugins to fix the keywords? Or, for now it would probably be a lot easier to just create a whitelist/blacklist to filter assemble plugins. thoughts?

[2016-07-17 12:07] pointnet opened #25 "Windows: generate is hanging out"
generate is hanging out when there's no package.json file in the current directory.

[code]

[2016-07-17 12:23] tunnckoCore commented on #25
Damn.. :heart: windows. It just considered to not show anything and we should be magicians to understand what's goin on..

@pointnet can you try `gen --version`? Or are other commands works (like `gen dest` or `gen example`)?

[2016-07-17 12:26] jonschlinkert commented on #25
Hmm, I suspect it's because of the `base-cwd` logic. I'll look into it as soon as I have a chance

[2016-07-17 12:34] pointnet commented on #25
version is working

[code]

[2016-07-17 12:36] pointnet commented on #25
dest is not working

[code]

[2016-07-17 13:08] tunnckoCore commented on #25
Great. So yea, looks like some resolving problem, thanks for the try.

_And btw, sorry if i sound you aggressive about windows ;d just love to hate it (with reasons) when i can :D _

[2016-07-18 02:56] tunnckoCore opened #26 "idea: generate-blog (or -simple-blog)"
Could be interesting. Just super simple working example with homepage, blogpost page and about. Not so much, not using assemble.

I'll do try to do it to play with the generate et al. Then will use assemble(-core) if needed.

[2016-07-18 03:07] jonschlinkert commented on #26
Using what then? Jekyll? There is no tool on earth in any language that is as good at generating sites as assemble. Why would I use something else?

[2016-07-18 03:09] jonschlinkert commented on #26
(I was smiling when I wrote that btw)

[2016-07-18 03:10] tunnckoCore commented on #26
Yea, that's right, I always end with assemble. But I'm curious to try to do it with `generate`, `generate-collections` and `generate-defaults` - i believe it's possible just wanna try and play. :D

[2016-07-18 03:13] jonschlinkert commented on #26
I created `boilerplate-blog` locally,  would that make more sense for this? It's basically the "generic" configuration and templates for a blog, so you can build it with any build tool - gulp, assemble, generate, etc. thoughts?

[2016-07-18 03:14] jonschlinkert commented on #26
by now you know I have a dry sense of humor, I was just messing with you. (kind of ;)

[2016-07-18 03:20] tunnckoCore commented on #26
not as my and my "normal" tone :laughing:

maybe will help yea

[2016-07-18 03:29] tunnckoCore commented on #26
Just wanna setup blog super fast, cuz got idea to publish something called "Share Geography" (huh, geography blog by developer, sounds interesting :laughing: ) with my resources to share them in our course and below/next courses at university. But I'm scared to try assemble, because my luck (with the bugs you know ;d) and don't have the time currently (until the end of month) because the exams ses

[2016-07-18 03:55] jonschlinkert commented on #26
lol you are a walking edge case. Sure, it will always take more time to learn new tools when you go out of your way to find things that don't work! But assemble is used on thousands of projects and has been stable for months.

I'm pretty excited about how these things will work, I'm just trying to decide on the details. I'll try to post an example of what I mean sometime tonight - I'll start worki

[2016-07-18 03:56] jonschlinkert commented on #26
and @doowb is going to push up some code we worked on for creating collections from properties in front matter, like `tags`, `archives` etc

[2016-07-18 04:04] tunnckoCore commented on #26
ahahahha, absolutely!

Okey, that's great! No problem, take your time.

Hm, actually, yeaa will try what i can do.

[2016-07-18 06:53] pointnet commented on #25
Got it!

https://github.com/jonschlinkert/find-file-up/pull/2

[2016-07-18 19:11] jonschlinkert commented on #25
Awesome! I think this is fixed by the pr that @pointnet did. thanks again!

[2016-07-18 19:11] #25 closed

[2016-08-17 18:32] jamen opened #27 "Use XDG base directories for cache/data?"
While cleaning up, I see the folder `~/.data-store` being used to store what seems to be just some cache.

Is there a reason `XDG_CACHE_HOME` or `XDG_USER_DATA` or their defaults (`~/.cache` and `~/.local/share`) are not being used here?  I have a lot of folders in my home directory I wish weren't there.

I can try and pull request this (maybe on `data-store` if needed, and then here) if it is an

[2016-08-17 21:22] jonschlinkert commented on #27
yeah I'm definitely open to it! Honestly I haven't given that as much thought as I should, I've been focused on general usability. I just mentioned to @doowb recently that the storage directories need to be re-thought, so this is timely.

[2016-08-18 01:15] tunnckoCore commented on #27
:+1: Yea, definitely. Same here.

But maybe `~/.config` would make more sense, but in any case it's better to not be in home.

[2016-08-19 22:57] jonschlinkert commented on #20
I was about to close this, I thought I published generate-changelog weeks ago. apparently I didn't push it up! coming soon!

[2016-08-19 23:01] jonschlinkert commented on #20
damn, I remember why I didn't https://github.com/lob/generate-changelog. Need to come up with a different name. suggestions?

[2016-08-19 23:07] jonschlinkert commented on #20
proposed names:

- `generate-log` (probably my favorite, we can explain that `generate-changelog` was taken ;P)
- `generate-history`
- `generate-changelog2`
- `generate-release-history`
- `generate-change-log`

any others?

[2016-08-19 23:10] tunnckoCore commented on #20
Hahaha. Why not try to discuss it with @lob? Then maybe `generate-history`.

[2016-08-19 23:12] doowb commented on #20
I like `generate-log` too. Seems to line up with `git log`.

[2016-08-19 23:12] jonschlinkert commented on #20
generate-changelog looks like a nice project, and it's well established and well done. I don't want to bother him about something this trivial.

[2016-08-19 23:13] jonschlinkert commented on #20
yeah that's what I was thinking. that seems to be a common usage of the term anyway https://en.wikipedia.org/wiki/Changelog

[2016-08-19 23:14] jamen commented on #20
I like `generate-history` the most, but `generate-log` is nice too (So I don't tie this up 50/50).

[2016-08-19 23:15] tunnckoCore commented on #20
@jamen :+1:

[2016-08-19 23:37] jonschlinkert commented on #20
That was my initial thought, then it occurred to me that users might expect a generator with that name to actually generate a history. But this won't do that. should it? My thinking is that `generate-log` should do just that, generate a "new changelog". Then we can publish `update-log` to actually append history. or `generate-history` to do that.

sound ok?

[2016-08-19 23:41] jonschlinkert commented on #20
ok, I went ahead and published: https://github.com/generate/generate-log. Now that it's published we can discuss what it should do and make any necessary changes

[2016-08-19 23:41] #20 closed

[2016-08-20 00:01] #12 closed

[2016-08-20 00:01] jonschlinkert commented on #12
done

[2016-08-20 00:38] jonschlinkert opened #28 "what generators do we need?"
Generate is so much easier to use and maintain than yeoman generators, and it's far more powerful than slush, it's just a matter of time before users start migrating.

- What yeoman generators should we start porting over?
- What slush generators should we start porting over (note that generate can actually run yeoman generators. @doowb  created `generate-slush` but hasn't open sourced it for some

[2016-08-20 00:44] jonschlinkert opened #29 "bug: generator.js should be resolved directly"
When a globally or locally installed npm package has a `generator.js` file, we should use that directly and not try to use it through `index.js`.

[2016-08-20 01:44] jamen commented on #29
Why is that?  Just kind of curious.  Can you not require the modules directly?

[2016-08-20 01:49] jamen commented on #29
But for people who make generators, doesn't following the package.json `"main"` behavior seem appropriate?  Could be done with something like [`requireg`](https://www.npmjs.com/package/requireg) perhaps.

[2016-08-20 01:56] jonschlinkert commented on #29
yeah, that's what we do now. Maybe this isn't really worth doing, but I was looking at that other `generate-changelog` project and thinking that they could easily drop a `generator.js` file in the project to turn the existing code into generator, while staying completely backwards compatible. But... as it is currently generate would try to resolve `index.js` "just because".

what are your thoughts

[2016-08-20 02:04] jamen commented on #29
Hmm, what is the usecase there?  Shouldn't generators usually be standalone modules?  Adding a `generator.js` to a project that isn't a generator seems less beneficial to me than following with `"main"`.

I also feel like if `"main"` had no functionality inside the module, people would get confused on how the entry works, unless it is explicitly noted at the top of the docs or something, but even

[2016-08-20 02:30] jamen commented on #29
Haha, probably would have made a nice and easy pull request to have `generate-changelog` though.

[2016-08-20 03:43] doowb commented on #28
done => [generate-slush](https://github.com/generate/generate-slush)

[2016-08-20 11:06] jonschlinkert commented on #29
lol yeah, but you are indeed correct. I think we can leave it as-is. good feedback thanks

[2016-08-20 11:06] #29 closed

[2016-08-21 03:51] jleeto commented on #27
I concur with @doowb --  `~/.config` would be more efficient and makes more sense.

[2016-08-22 09:03] seanc opened #30 "Path must be a string. Received null"
Generate Version: v0.11.2
Node Version: v6.4.0

After running `gen project license`, I received this error:

[code]

Asciinema: http://asciinema.org/a/8291tcxfnt46fok40dx5mus4z

[2016-08-22 10:58] jonschlinkert commented on #30
Mind if I ask what OS/File system are you using? Also, are you using a custom npm prefix?  thanks for reporting

[2016-08-22 16:14] tunnckoCore commented on #30
Yea. It can be seen in the stack `/home/sean/.npm-global/lib/node_modules`.

Maybe some underling libs are not updated to get latest changes from `npm-prefix` (and related) update?

[2016-08-22 16:21] jonschlinkert opened #31 "bug: license field"
I haven't had a chance to look into this yet, so I'm creating the issue here, but this is a recent bug that I'm pretty sure I caused and it's most likely a `generate-defaults` or `generate-package` issue.

the `license` variable in templates is being mutated somewhere. Please double check your rendered `package.json` files until I get this fixed. Again, I'm pretty sure I know where the issue is, b

[2016-08-22 16:23] jonschlinkert commented on #30
doh! lol I see that now thx, I was waking up at the time.

[2016-08-22 19:55] seanc commented on #30
OS: Linux Mint 18 Sarah 64-bit
File system: ext4

[2016-08-24 16:12] tunnckoCore opened #32 "Finally, how can customize the templates?"
I'm totally lost already. :D The docs on the `support/templates/customization` only says _"if you wanna cutomize more that single file, use scaffolds"_ where "scaffolds" is link to `support/templates/`.

Anyway. What you use currently with latest updates? How should override templates used by `generate-project` for example? Should I set them in `~/generate/project/templates` or `~/generate/templat

[2016-08-24 16:28] #32 closed

[2016-08-24 16:36] jonschlinkert commented on #32
I don't even know what this issue is about. It sounds like you found a broken link in the docs, but you didn't even link to it, which creates even more work just to ask for it. Feel free to create an issue about a specific thing without ranting, or just don't use generate, verb or assemble until the docs for all of them are complete. We don't have the bandwidth to write documentation as issue resp

[2016-08-24 16:42] tunnckoCore commented on #32
It's strictly about how to customize the templates of no matter what generator i use.

[2016-08-24 16:44] tunnckoCore commented on #32
For the last 2-3 moths I've seen all of these directories in the couple of readmes and in the docs, so finally, i don't know which one to use.

[2016-08-24 16:48] jonschlinkert commented on #32
Then please just focus the issue on what it is, a simple broken link in unpublished, draft documentation.

The folder for custom templates is `~/templates`.

if you want to see the code, 100% of the logic for this feature is [right here](https://github.com/generate/generate/blob/master/lib/mixins.js#L58-L73).

[2016-08-24 16:49] doowb commented on #32
@tunnckoCore you pointed to a support template that is used when building docs and it has the `draft` flag set. Those aren't completed docs and the feature might not exist.

If you see information that is incorrect in the readmes, please open an issue that points to that readme. I only recall discussions in issues about how to configure customizable templates, the only one that has been implemente

[2016-08-24 17:04] jonschlinkert commented on #32
ooooohhhh, see what you did? You know you're in deep doodoo when @doowb steps in. no more shenanigans, no more tomfoolery, no more ballyhoo.

Sincerely though, my apologies. Here is [an updated link](https://www.youtube.com/watch?v=NgWn7zbgxZ4) with the docs for customizing templates.

[2016-08-24 17:06] doowb commented on #32
lol, don't... click... that... link

[2016-08-24 17:06] doowb commented on #32
Unless you want a good laugh

[2016-08-24 17:08] jonschlinkert commented on #32
Not sure what @doowb's referring to.

[2016-08-24 17:40] jonschlinkert commented on #32
I remember when someone rick-rolled me with that a few years ago. but I forgot how bad it was so I remove it lol. it's just weird

[2016-08-27 19:15] jonschlinkert opened #33 "feature: help"
Instead of automatically displaying a help menu, we should display a prompt to ask the user what they want to do.

- install a generator
- run a generator
- list generators
- update generators
- help

[2016-08-28 15:09] kokujin opened #34 "Running generate locally"
Before opening an issue, please:

- read the [contributing guidelines](https://github.com/generate/generate/blob/master/.github/contributing.md)
- [search for existing duplicate or closed issues](https://github.com/generate/generate/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Do not open issues to ask for implementation help or to ask "how to" questions here. Instead ask on [StackOverflow](stackoverflow

[2016-08-28 15:15] tunnckoCore commented on #34
yes, it will work. you should access it wit node_modules/.bin/gen as usual, i believe. but it not make sense, its not so usable that way. by this i mean its uncomfortable

[2016-08-28 17:42] jonschlinkert commented on #34
If you experience an issue with this, consider it a bug. I'd like for this to be supported. thanks for the issue

[2016-08-28 18:00] jonschlinkert opened #35 "roadmap"
I'd like to see the following on a formal roadmap (feedback, suggestions, ideas, requests, are all very welcome!):

- [ ] **improve prompts**: This is a top priority. Node.js needs a fast, pluggable prompt library that isn't bloated and dog slow. We might have some ideas here :)
- [ ] **persisted data** this needs to be easier and more consistent. Generate broke new ground by supporting chained ge

[2016-08-28 18:24] jamen commented on #35
I like how `generate`'s generators share an environment.  In fact, I initially added the ability to [run multiple generators with yo](https://github.com/yeoman/yo/pull/414) under the same environment; however, they [didn't like the idea of having them share data](https://github.com/yeoman/environment/pull/56) on that environment (for justifiable reasons).  I think at the very least it is useful fo

[2016-08-28 19:02] jonschlinkert commented on #35
awesome! yeah we plan to expand on how generators share data. This is also a favorite feature of mine because of how intuitive it is (to reiterate for anyone who might be joining the convo, every generator is created with a new instance of generate, but we also expose a special "shared" instance that can be used to pass specific data or options back between generators).

[2016-08-28 20:43] tunnckoCore commented on #35
Sounds great! `keypress` looks good as starting point for this job. I have some very old shit thingy with it https://github.com/tunnckoCore/prompt-promise. Let me know if can help or suggest something more - the word "pluggable" is enough.

Let's do it.

[2016-08-28 23:28] jonschlinkert commented on #35
K you ready for this? :) I think we can simplify further, but it's just a start.

[2016-08-29 00:41] jonschlinkert commented on #35
progress here: https://github.com/enquirer

[2016-08-29 16:42] tunnckoCore commented on #35
awesome! i'll look.

[2016-09-01 03:33] jonschlinkert commented on #34
I have an idea for this... we already support macros, like this:

[code]

Which will allow you to run the `bar baz qux` generators  with the `$ gen foo` command; So when `$ gen foo` is given, the command is _replaced_ with `$ gen bar baz qux`.

But we might be able to prepend or append macros to the current command. Which would allow you to do something like this:

[code]

Then, you could just do

[2016-09-01 13:41] tunnckoCore commented on #34
Dont think so it's unnecessary, imho. maybe i can be some sort of detection like if task name contains `/` understand it as path ... hm. in anyway, if we have prepend macro and expand to that you shown, what next? i mean.. `$ gen node_modules ...` not looks good to me, in anyway it would have some sort of detection as i said.

unnecessary complexity, when i believe it works currently or at least i

[2016-09-01 13:51] jonschlinkert commented on #34
why would you do that?

[2016-09-01 14:46] tunnckoCore commented on #34
You said it that way.

in which i dont see sense, or not sense, but how this would make it better

[2016-09-01 15:09] jonschlinkert commented on #34
sorry, I see what you mean. I thought of that macro idea and didn't really think it through enough before I wrote it out. Of course, you would still need a global generate to resolve the macro and use it.

Actually though, you could easily run a locally-installed generate like any other node library. You would just do:

[code]

And run:

[code]

[2016-09-01 15:35] jonschlinkert commented on #35
@tunnckoCore can you check gitter? I left a msg

[2016-09-01 15:44] tunnckoCore commented on #34
Yea exactly. Or as I mention in first comment `node_modules/.bin/gen task task2 task3`.
There are a few ways to do what @kokujin need, and we don't need to add some more complexity.

[2016-09-01 17:54] tunnckoCore commented on #35
Yea, no problem. I'm on slack rooms of toolkit too. :)

[2016-09-01 18:01] jonschlinkert commented on #35
I didn't know toolkit had one lol. I do now!

[2016-09-01 18:10] jonschlinkert commented on #35
I just commented there

[2016-09-01 19:40] tunnckoCore commented on #35
Yea, I don't see you there https://[generatejs/basejs/verbjs/etc].slack.com/messages/general :)

[2016-09-01 22:07] jonschlinkert commented on #35
you don't? I should be. I thought you meant an actual `toolkit` room.

[2016-09-08 00:32] connorhartley opened #36 "Range Error"
I downloaded the latest version of generate as well as generate-package, generate-license and a few others, but when I run package and license they both error.

Package error: https://gist.github.com/connorhartley/a15cd6392e77d5fed34a9bb87ad6364b
License error: https://gist.github.com/connorhartley/5ecb0d5d53b5acee201fac02646a7f8a

Version details:
Windows 10
node v6.5.0
npm v3.10.6
generate v0.11

[2016-09-08 01:23] jonschlinkert commented on #36
Hmm, at first I thought I knew the cause, but after reviewing the errors I'm not sure. I'll look into it. @doowb any thoughts?

thanks for reporting.

(on the off-chance that it's related to what I was initially thinking... the following is what my response would have been)

There is a known bug causing this, it's a pretty easy fix that in reality will take 5 min, but I want to shift some code aro

[2016-09-09 01:49] JelaniThompson opened #37 "generate-example not working as intended"
Hi there!

I've been recommended by my friend Jamen Marzonie to help contribute to this project. I started tinkering with it and came across an issue right off the bat.

I'm tried running `npm install --global generate-example` followed by `gen example` and got the following in return:
[code]
Although it says the building the example was successful, when I check `example.txt`, the contents `foo` a

[2016-09-09 02:02] jonschlinkert commented on #37
Hmm, strange. The [template for example.txt is here](https://github.com/generate/generate-example/blob/master/templates/example.txt). I'll look into it.  In the meantime, would you mind if we move this issue over to https://github.com/generate/generate-example? I can or you can, thanks!

[2016-09-09 02:14] #37 closed

[2016-09-11 07:32] tunnckoCore commented on #3
- `generate-repo` - creates github repo, init in dir; (and first commit? task for that?)
  + use `github-base`
- `generate-nyc` - should play with `generate-coveralls` and `generate-travis`
  + adds `nyc` to decDeps
  + adds `coverage` script `"nyc report --reporter=text-lcov | coveralls"` maybe without coveralls?
  + adds `after_success: npm run coverage` to `.travis.yml`
  + ref https://github.c

[2016-09-11 09:55] tunnckoCore commented on #3
- `generate-contributors`
  + ref: https://github.com/kentcdodds/all-contributors ?
  + one implementation: https://github.com/jfmengels/all-contributors-cli

[2016-09-11 13:29] jonschlinkert commented on #3
is [generate-git](https://github.com/generate/generate-git) similar to what you mean?

I have `update-keywords`, I can push that up soon. we might be able to combine logic for those

[2016-09-11 13:38] tunnckoCore commented on #3
Actually, partially, yea. I just forgot it. But with `creates github repo` I meant creating it in github, not only locally - and i imagine that it should respect/get/use `gen dest` or project name.

[2016-09-11 22:56] jonschlinkert commented on #3
or just `--cwd`. that's what I usually use

[2016-09-12 00:49] dawsonbotsford commented on #3
Is there already a utility to update a pre-existing `package.json`? That'll certainly be needed in the proposed `generate-nyc`.

I've been working on a sort of [jscodeshift](https://github.com/facebook/jscodeshift) but for json files. Mostly a one-night experiment since I assumed a json mutation helper already exists. Are y'all aware of one? If not, I'll polish it up and publish it so we can use t

[2016-09-12 02:07] jonschlinkert commented on #3
here are couple, I'm not sure if they do what you need.

- https://github.com/jonschlinkert/normalize-pkg: this can be customized pretty easily with a schema
- https://github.com/jonschlinkert/gulp-normalize-pkg

fwiw, I created "updater-package" for [update](https://github.com/update/update) but I haven't pushed it up yet. It's pretty opinionated atm - mostly because I wasn't sure what I wanted i

[2016-09-12 02:27] #31 closed

[2016-09-12 02:39] jonschlinkert opened #38 "prompts / data"
I recently introduced a bug that caused the license statement intended for a readme to be used as the `license` in package.json.

The bad news: I just pushed up a temporary fix for that bug, but it's not unlikely that other bugs will crop up as a result.

The good news: Data handling in generate is highly modular and the code for it is organized in a way that makes it easy to completely change. I'

[2016-09-12 03:30] dawsonbotsford commented on #38
Link to fix? It'd be cool to learn and help prevent this type of bug in the future.

[2016-09-12 12:53] tunnckoCore commented on #3
@dawsonbotsford, i'm workin on @postjson, and it may help in future.

[2016-09-12 18:13] jamen commented on #38
I've experienced this bug recently too, just for the record.  Was able to fix for myself just by regenerating.

[2016-09-12 18:25] jonschlinkert commented on #38
Good to know. I attempted a fix yesterday, you'll probably need to reinstall global generators and generate

I started working on a fix for this one a week or so ago. Let me try to get that wrapped up, then we can do a post-mortem. We should probably also open an issue here to discuss strategies for improving how data is handled by generate.  sound ok?

[2016-09-12 23:37] tunnckoCore opened #40 "feature: autocompletion for the tasks"
for zsh and bash

[2016-09-12 23:43] jonschlinkert commented on #40
I have some code for this locally, based on gulp. k, marking as a request, thx

[2016-09-18 20:46] #36 closed

[2016-09-18 20:46] #38 closed

[2016-09-18 22:57] jonschlinkert opened #41 "bug: the reverse of inverse flags should be set on options"
When `--nofoo` is set, it adds `nofoo: true` to the options.  `foo: false` should also be added to the options. I thought yargs-parser did this but I might need to set an option for it. I think the best solution is to ensure this is done regardless of the args parser used.

[2016-09-18 22:58] #41 closed

[2016-09-19 13:40] tunnckoCore commented on #41
it's seems you're wrong. one thing is `--nofoo` totally another is `--no-foo` i believe? and yargs/minimist does it? hm

[2016-09-19 21:15] jamen opened #42 "Using generate inside of modules?"
I'm collaborating on this project called `cordlr` and I just thought of an interesting idea.

We are making this `cordlr setup` command so it prompts the user for data and then creates some files and possibly also would install dependencies.

I was thinking about how it would be cool if there was a minimal version of `generate` I could use as a dependency just to make those mechanisms easier, for

[2016-09-19 21:22] jamen commented on #42
For the record, the command line will also do other things that I think generate could be useful for.

We might also use `node-base` in other areas too, so it would just look more normal.

[2016-09-19 21:32] jamen commented on #42
Hmm, I guess it actually doesn't include that much.  maybe i could try this already.

[2016-09-19 21:36] jonschlinkert commented on #42
absolutely. you can completely customize the experience

I can think of a couple different approaches, depending on whether or not you need to run globally installed generators by command line (e.g. using a namespace, similar to `generate-*`).

If you list a few high level requirements for your app I'd be happy to give suggestions on approach.

[2016-09-19 22:06] jamen commented on #42
I was thinking of just using `generate` and generators as dependencies for the functionality they have.  I could just run them through my own simpler scripts that wouldn't need the global installing and namespacing things.

Like, for example `cordlr setup` would:
 - Prompt the user `token`, `prefix`, and `plugins`.
 - Create a `.cordlrrc` file with the prompt results.
 - Install the `plugins` with

[2016-09-19 23:20] jonschlinkert commented on #42
makes sense, have you seen [base-app](https://github.com/node-base/base-app)? Might be a good choice if you don't need to create template collections or render templates. Or even consider using `assemble-core` if you need middleware and collections. Most generate plugins (generators) should work with `base-app` or `assemble-core`.

or just look at how those are done and create your own. Here is an

[2016-09-19 23:23] jonschlinkert commented on #42
btw, the `.namespace` property shows the generator's name in context to the generator hierarchy. So the innermost generator's namespace in the example is `app.foo.bar`

[2016-09-20 00:37] jamen commented on #42
Interesting.  I had not seen all the other `base` plugins before.   That code is pretty easy to understand, nice work :+1:.

I think I'll try using some custom app with `base` instead of `base-app` and see what I can make with it.

[2016-09-20 00:56] jonschlinkert commented on #42
great! let us know if we can help

[2016-09-20 08:09] tunnckoCore commented on #41
If it's not supported currently, it make sense to be supported. And it's more real and natural for me than `--nofoo`. :)

[2016-09-20 17:24] jonschlinkert commented on #41
ok, that makes sense

[2016-10-10 08:33] #42 closed

[2016-10-19 21:38] tunnckoCore commented on #3
- [ ] generate-choo - ref https://github.com/yoshuawuyts/choo

[2016-10-30 05:59] seanc commented on #30
i've been experimenting, and it looks like the issue is due to git, i haven't entirely figured out why this issue is caused by git but i believe it is because one of the packages (perhaps expand-pkg) is trying to parse something from git and it's not handling null values correctly. hopefully that gives at least a bit of insight

[2016-10-31 19:01] doowb commented on #30
@seanc will you uninstall `generate`, clear your npm cache, reinstall `generate`, then try the generators?

You may have to reinstall specific generators too.

I updated `expand-pkg` to use the latest `parse-git-config` which already had the fix but just needed to be bumped in dependent modules.

[2016-11-02 03:44] seanc commented on #30
looks like it works now.

[2016-11-03 02:20] jonschlinkert commented on #30
Sounds like this was resolved, I'm going to close but please feel free to reopen or create a new issue if you're still having problems.

[2016-11-03 02:20] #30 closed

[2016-11-09 20:39] JelaniThompson commented on #40
@jonschlinkert Hey are you still working on this? If not, I could definitely tackle it!

[2016-11-09 21:11] jonschlinkert commented on #40
that would be great! I think we should be able to use https://github.com/gulpjs/gulp-cli/tree/master/completion as a starting point (if we do make sure to give credit :)

or however you want to do it! thanks!

[2016-11-28 12:53] xgebi opened #43 "Broken links in github page"
There are some broken links in github page

- 'Visit the _getting started guide_ to learn more.' there is a link to empty repository
- 'See the _Best Practices Guide_ for advice on naming tasks.' I end up with Github's 404 page

[2017-01-14 03:35] seanc opened #44 "Error: no writecb in Transform class"
![image](http://asciinema2gif.host/gif/7ayffo11pq3prjnhmc9ug0kl5)

[code]

It happens after entering all of my information as seen in the asciinema above.

[2017-01-14 20:33] jonschlinkert commented on #44
Thanks for the issue, I'm debugging now

[2017-01-14 21:40] jonschlinkert opened #45 "proposed refactor of data handling"
This is related to the `data` bullet in https://github.com/generate/generate/issues/35.

For the first time in all of my node.js projects, globals are looking like the most appropriate solution. Given that generators are run via command line to scaffold out a new project, versus running a server for a live application or something.  In a single session, generate can chain generators and, ideally (

[2017-01-14 21:58] tunnckoCore commented on #45
Why not just save it at `base` instance instead of at file system or `global`?

I mean, we already have access to the very base instance from plugins/generators.

We have `app, base` signature in the plugins/generators?

If you choose `global`, it again would be easy to implement.

[2017-01-14 23:13] jonschlinkert commented on #45
That's what we're doing currently, this was always my preference. I'll try to see if I can figure out why it's not working in some situations. We might be able to solve this issue simply by enforcing a convention for how data is cached after an answer is given.

actually... I might be able to do something with enquirer to make this easier without adding magic. after I play around with that I'll re

[2017-01-20 02:29] jamen commented on #44
I'm getting this error randomly too.  Although, it was working just today and I never updated any packages. :thinking:

[2017-01-20 02:54] jamen commented on #44
So, the issue seems to be related to using quotes inside of the description field.  Like, in the example posted, you can see `"macro"`.

[2017-01-20 08:53] jonschlinkert commented on #44
ohh, good catch! that makes sense, we should probably add something to do escaping on the values.

[2017-01-24 10:41] jamen commented on #44
@jonschlinkert maybe escaping backslashes? e.g. `\` to `\\`?

[2017-01-27 20:32] #44 closed

[2017-07-06 01:37] seanc commented on #30
looks like this still occurs in version 0.14.0. found that if there is no initialized git dir, it spits that error out, after running `git init` everything ran normally.

[2017-07-06 13:52] jonschlinkert commented on #30
definitely sounds like a bug. I'll open a new issue

[2017-07-06 13:53] jonschlinkert opened #47 "fails when git repository does not exist"
related to https://github.com/generate/generate/issues/30#issuecomment-313271546

@seanc can you provide some details on your setup? OS, node.js version, etc?

[2017-08-05 06:37] charlike opened #48 "What's the state of custom templates?"
Hi there :wave:

We were talking about that before, but didn't remember where it was and what issues there had. But didn't follow what's up for awhile, so directly asking: how can we customize the templates of the generators, can we? Where to place them, in what structure?

I have personal streaming scaffolder, which is enough in most cases, but probably i want to start using Generate and i can't

[2017-08-05 13:28] jonschlinkert commented on #48
We've been using them since the beginning. I think there was a bug with nvm that was resolved.

I'm pretty sure you can add templates to the `~/templates` directory. Dotfile templates are prefixed with `_`, like `_gitignore`, to prevent them from being confused with real dotfiles. The goal was to make the directory customizable. We might have enabled that already, sorry I haven't had a chance to c

[2017-08-06 01:47] charlike commented on #48
Hm. Yea it was something like that, really.

As about the place of `~/templates`, I believe that we discussed that too and was thinking to be 1) hidden or inside the `~/.data-store`. (btw not to mention that someone makes `.date-store` too ;d).

But beside that fact that i probably should ignore, what should be the structure of that folder? Is it something like below?

[code]

[2017-08-26 22:44] jonschlinkert commented on #27
AFAIK this wasn't implemented, but I want to make sure it is.

[2017-12-27 15:18] rbecheras opened #49 "How to run a global generator from a generator repository ?"
Saying we are in a repository `generate-mygenerator`.
Thus we have a `generator.js` file in the root directory.

What if I want to run `gen gh-repo` ?

Have I to rename `generator.js` to `generator.js.wait` then rename it back after the generator is done ?

[2017-12-27 15:58] doowb commented on #49
As long as `generate-gh-repo` is installed globally and you don't have a task named `gh-repo` in your `generator.js` file, the global generator should run.

If it's not, will you supply more information about your environment and show the `generator.js` file?

[2018-01-16 16:40] rbecheras opened #50 "Why and when `app.base.cache.data.name` is overriden by generate ?"
Why and when `app.base.cache.data.name` and `app.base.data(name)`  are overriden by generate ?

I'm developing a generator that:

- use `app.ask()` to ask for data but not for `name`
- set manually `app.base.data({name})` in function of other user answers once it get these answers
- use `<%= name >` in some templates to be rendered

I don't understand why after some template rendering (performed i

[2018-01-23 06:12] jonschlinkert commented on #50
[code]

TLDR; there are really only two properties:

- `app.cache` - an object
- `app.data` - a method

and

- [app.base](https://github.com/node-base/base/blob/master/index.js#L198) - which is used for accessing the "base" instance of `app` when instances are nested (more detail and examples below). Since `app.base` is just a "parent" instance of `app`, both the `.cache` and `.data` properties wi

[2018-01-23 06:14] jonschlinkert commented on #50
btw, sorry for the delay in answering. I've been out of the office a lot the past week

[2018-01-23 09:46] rbecheras commented on #49
I can't reproduce this behavior when I want to answer your question. But Please keep this issue open, this behavior happened several times though. I'll come back soon or late to complete it.

[2018-01-23 09:48] rbecheras commented on #49
And it (seems) not related to `gh-repo` in particular but to the context of running a generator in the root directory of an other generator

[2018-01-23 13:52] rbecheras commented on #14
@jonschlinkert, @doowb,

Hi guys!

I don't know if you have @StackOverflow "tag wiki edit privileges" but me I don't have it yet. And I just posted a suggestion for the wiki tags I created the last weeks for the tags "generate" and "generategenerator".

So if you can, please validate it ;-)

- [https://stackoverflow.com/tags/generate/info](https://stackoverflow.com/tags/generate/info)
- [https://s

[2018-01-23 13:53] rbecheras commented on #14
![capture d ecran de 2018-01-23 14-52-51](https://user-images.githubusercontent.com/6469390/35279340-223a5ab2-004d-11e8-9066-b1929c9c31f1.png)

[2018-01-23 13:54] rbecheras commented on #14
![capture d ecran de 2018-01-23 14-53-39](https://user-images.githubusercontent.com/6469390/35279400-479a721a-004d-11e8-97c9-93dfa8ab26b7.png)

[2018-01-23 17:16] doowb commented on #49
If you have a task in your `generator.js` file that's the same name as a globally installed generator that you're trying to run, then the task will run instead. This is because `generate` will resolve the task at a higher priority than the global generator.

You can for the global generator to run by running `gen gh-repo:default` (replace `gh-repo` with the actual generator you're trying to run).

[2018-01-23 17:40] jonschlinkert commented on #49
It should just work, when you run `gen gh-repo`. What happens when you run that?

[2018-01-23 21:32] jonschlinkert commented on #14
looks like you have more rep than we do on SO!

[2018-01-23 22:24] rbecheras commented on #50
Ok don't worry for the delay, I know you have lot of work, and I see you answer soon or late.

Ok I understand all of your explanations.

But so, when I want to set a given value with:

[code]

in a sub-generator, why that value is reset some time later during the generation of a following task that render a template ?

But if instead of just doing `app.base.data('name', myValue)`, I do:

[code]

[2018-01-24 01:11] rbecheras commented on #14
Yes it looks like ;-)!

I just updated my previous comment because I made a typo error in the link for the `generategenerator` stackoverflow tag page.

Thus the dedicated pages for the tags I created are:

- [https://stackoverflow.com/tags/generate/info](https://stackoverflow.com/tags/generate/info)
- [https://stackoverflow.com/tags/generategenerator/info](https://stackoverflow.com/tags/generatege

[2018-01-24 01:45] rbecheras commented on #49
Ok I just understood what happened once or twice.

Its my bad, but we could also consider this behavior like a potential bug of generate because I guess we can improve Generate implementation to avoid the issue.

I just reproduced the buggy behavior simply trying to run a global generator in the root folder of an other generator where the local node modules have not been installed yet!

Example in

[2018-01-24 02:19] rbecheras commented on #49
However I think we can avoid this behavior in generate checking the existence of the `node_modules` folder before trying to run the local generator. Or maybe catching for any error trying to run the local generator and showing a message or prompting the user to confirm to run the global generator ignoring the local `generate.js` file.

What do you think about that ?

[2018-01-24 02:27] rbecheras commented on #14
Hey, my edit was approved for the `generate` tag description !

* https://stackoverflow.com/tags/generate/info

I'm waiting for the usage guidance approvement.

The situation is currently reversed for the `generategenerator` tag

* https://stackoverflow.com/tags/generate/info

The usage guidance is approved but I'm waiting for the wiki tag approveent.

[2018-01-24 02:49] doowb commented on #49
The error is occurring because in the cli the local `generator.js` file is required in when it's found. If the node modules aren't installed, then the `require('./generator.js')` will fail like any other node module.

However, if a local `generator.js` does not exist, then we fall back to a default file that's used as the `base` app. I don't like the idea of checking for `node_modules` since you c

[2018-01-24 02:50] doowb commented on #14
Thanks for submitting these! I don't have `tag wiki edit privileges` either.

[2018-01-24 04:04] rbecheras commented on #14
You're welcome!

More generally, @doowb @jonschlinkert,
do you want me to join your projects organizations to be fully associated to the design and the development processes of your node toolkit ?

I would love to be a daily contributor for the following tools:

* node-base
* enquirer
* composer
* assemble
* verbose
* engine
* templates
* update
* generate
* and node-toolkit !

These are the aweso

[2018-01-26 16:07] jamen commented on #27
See https://github.com/jonschlinkert/data-store/pull/8

[2018-01-26 16:07] #27 closed

[2018-01-31 08:22] rbecheras commented on #49
Thanks @doowb Its clear for me now.

I think this issue should be closed now.

[2018-01-31 08:23] #49 closed, assigned to nobody

[2018-01-31 10:26] rbecheras commented on #47
I can't reproduce this bug using

- Ubuntu Gnome 17.10
- Node LTS Carbon v8.9.4
- NPM v5.6.0
- generate v0.14.0
- generate-project v1.0.0
- generate-license v1.0.0

[2018-01-31 13:55] rbecheras commented on #47
[![asciicast](https://asciinema.org/a/POn71LncqxWcqgmvxol5nOlt6.png)](https://asciinema.org/a/POn71LncqxWcqgmvxol5nOlt6)

[2018-02-03 16:02] jonschlinkert commented on #14
Wow I can't believe I missed this comment! I'm so sorry, we'd love to have you join the org(s)!

[2018-02-03 16:03] jonschlinkert commented on #14
I wish I had seen this comment earlier, I hope you didn't feel discouraged that we didn't answer. I have been travelling, and @doowb is doing some moving/package/storage stuff right now.

We'll start adding you to the orgs! I'm just dropping in to comment, but either @doowb or I will start adding you sometime today! Thank you!

[2018-02-03 18:29] rbecheras commented on #14
Hi @jonschlinkert, don't worry about that, I'm patient enough and motivated to wait your answers.

I'm more than ever motivated to join your orgs (the more I use the toolkit — and I do!
 —, the more I love it!), and I'm really pleased to know that it will be done!

Waiting for the next step!

[2018-02-04 06:07] jonschlinkert commented on #14
great! I'm starting to add you now, I'm really glad you like using the tools and are getting value out of them. We have lots of room for improvement!

[2018-04-23 22:55] jonschlinkert commented on #47
closing, due to lack of reply and since we aren't able to reproduce.

[2018-04-23 22:55] #47 closed

[2018-04-23 22:57] jonschlinkert commented on #24
closing since this was addressed

[2018-04-23 22:57] #24 closed

[2018-05-21 12:02] veljkoz opened #51 "Can't run the generator that's installed globally"
I can't run a globally installed generator:

[code]

Error reported suggests the generator can't be found:

[code]

Note that when `generate:gitignore` is installed locally it works, so I'm guessing the problem is on the "generate" side.

gen -V
generate v0.14.0

npm -v
5.6.0

node -v
v8.11.1

[2018-06-01 13:06] jonschlinkert commented on #51
Sounds like a bug. I'm not sure why the CLI is looking for a local generator and not resolving the global one. Do you use `nvm` or anything like that? Anything else about your config that might help debug?

[2018-06-03 12:56] veljkoz commented on #51
Yes, good guess - I do use nvm for Windows, v1.1.5... (it's so behind the scenes, that I almost forget I have it).

[2018-06-07 14:03] rbecheras commented on #51
@veljkoz did you find the solution to your problem ?

[2018-06-07 14:04] #50 closed, assigned to nobody

[2018-06-09 18:46] Truemedia opened #52 "Use generate as API?"
So Iv'e got a generator.js file working fine locally using a global command when I'm in the same directory as the file.

However I'm wanting to also trigger it via another node script without having to call the commandline.

The docs said it can be used via both cli and api, but I see no info anywhere on how to trigger a generator.

[2018-06-09 20:22] rbecheras commented on #52
To use a generator in an other node script, you have to import it and use it as a plugin on an instance of `Generate`

[2018-06-09 20:43] jonschlinkert commented on #52
Hi @Truemedia, thanks for creating an issue. I can help you get everything working.

Sorry about the lack of documentation, we're actively working on new docs (and were [hiring a techical writer](https://twitter.com/jonschlinkert/status/1005537889676091392), in case you happen to know someone who might be interested).

**API usage**

To use the API, start by creating an instance of `Generate`, the

[2018-06-18 12:25] veljkoz commented on #51
no, still doesn't work... I had to add it locally into devDependencies and generated it from there...

[2018-06-18 12:39] tunnckoCore commented on #51
i'm using nvm for years, so maybe that isnt the problem. or it may be something wrong but only on windows

[2018-06-18 12:43] tunnckoCore commented on #51
can you give some paths - to global modules and etc. Or try what `global-modules` outputs and `global-prefix`

[2018-06-18 13:25] veljkoz commented on #51
[code]
Output:
`C:\Users\_myusername_\AppData\Roaming\npm\node_modules`

----
[code]
Output:
`C:\Users\myusername\AppData\Roaming\npm`

[2018-06-18 15:46] doowb commented on #51
@veljkoz will you also show the output of this command: `npm root --global`

[2018-06-18 16:06] tunnckoCore commented on #51
And `npm bin --global` too?

[2018-06-19 09:23] veljkoz commented on #51
`npm bin --global:`

`npm root --global`

[2018-06-19 12:04] tunnckoCore commented on #51
Yea. Seems like a problem. Can you check in which folder is the generate-gitignore and generate? Seems like there are two global node modules folders.

In roaming/npm/node_modules or in the programFiles/nodejs/node_modules?

[2018-06-19 12:59] veljkoz commented on #51
Hm, interestingly, the roaming/npm folder doesn't exist - the nvm does: `myuser\Roaming\nvm\v8.11.1\node_modules`, and there I can find both `generate` and `generate-gitignore`. I'm guessing the nvm manages this per-version loaded.

As for the `C:\Program Files\nodejs\node_modules`, it also has both `generate` and `generate-gitignore`.

[2018-06-19 13:14] veljkoz commented on #51
Note: I just tried setting the environment variable `NODE_PATH` to `C:\Program Files\nodejs\node_modules` - now I can require global packages in node, but the result is still the same (`gen gitignore` still looks only local generators)

[2018-06-19 15:00] doowb commented on #51
@veljkoz thanks for the additional information. As @olstenlarck pointed out, we use `global-prefix` and `global-modules` to try to find where the global `node_modules` folder is. This logic is based on how `npm` does it so it's usually correct. `nvm` may or may not be doing something different which is causing `global-prefix` to fallback to a default for windows based on the `APPDATA` environment

[2018-06-19 15:02] tunnckoCore commented on #51
Hmm... exactly. I cant remember but I will try later today what global-modules gives me. I suppose that it does not respect NVM.

Try to add NVM_DIR too, or what it was. hm.

[2018-06-19 15:20] veljkoz commented on #51
Hm, just looking at the global-prefix... [this line](https://github.com/jonschlinkert/global-prefix/blob/49684bdf64fd6e5f11dc7caac8c6eb9abfd376b9/index.js#L57) seems to be the culprit. The `path.dirname(process.execPath)` would've been enough to get the correct node path... does anyone know why is this `APPDATA` assumed to be the correct path? (maybe I should move this question to that gitrepo?)

[2018-06-19 15:29] doowb commented on #51
[This PR](https://github.com/jonschlinkert/global-prefix/pull/5) is the one that added `APPDATA` and has an explanation for why it would be used.

If you have any additional issues (if setting `PREFIX`) doesn't work for you, then please open an issue in the `global-prefix` repo. I'm going to close this here.

[2018-06-19 15:29] #51 closed, assigned to nobody

[2018-06-19 15:33] tunnckoCore commented on #51
There should have a fix to check for prefix added in .npmrc, and fix for nvm based environment too.

I will check what's happening on linux, so we won't break smth.

[2018-06-19 20:34] tunnckoCore commented on #51
Yup. Here, in linux, `global-prefix` correctly resolves to the NVM path. I think it should be that way on Windows too.

[code]

[2018-06-19 20:39] tunnckoCore commented on #51
I think that we can use `$NVM_BIN` and get double `path.dirname` on it, instead of executing `nvm which current` (which was one of my suggestions back in the past, i believe). And make that check, just after the `process.env.PREFIX` check.

@veljkoz can you confirm that you have that env on Windows?

[2018-06-20 07:44] veljkoz commented on #51
Sorry to dissapoint, for Windows nvm there's only these two :

The first one has subfolders for every node version installed (e.g. v8.11.1, v10.1.0, etc.). The second one has the node itself along with the node_modules (being it's a symlink it's actually pointing to one of the subfolders of nvm).

[2018-06-20 12:24] tunnckoCore commented on #51
Haha, thanks, good to know. And still we can check both of them. It won't be a problem for us, but it's interesting why NVM did it that way.. most inconsistencies and problems between OSes are coming from tools authors, which does some weird things like that. :D

Anyway, i have some ideas.

[2018-06-20 13:41] veljkoz commented on #51
Maybe we should move the discussion [here](https://github.com/jonschlinkert/global-prefix/issues/21), to have everything in one place.

[2019-03-11 01:11] moltar commented on #43
Also under `Why use Generate?`:

These 2 are broken:

    Comparison to Yeoman and Slush
    Generator framework comparison

[2019-03-11 09:08] xgebi commented on #43
@jonschlinkert are @moltar's bugs related to mine? I don't know what changed since 2016

[2020-01-02 11:52] yashpandit commented on #43
@jonschlinkert @doowb I can solve these issues. Can you guys provide links? This can be my first good contribution.